.container {
	position: relative;
	font-size: 13px;
	padding-top: 60px;
	margin: 0 auto;
	width: 1120px;
	z-index: 1;
	*zoom: 1
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.pcontainer>p:first-child {
	margin-bottom: 5px;
}

.pcontainer>p:last-child {
	margin-top: 5px;
	margin-bottom: 15px;
}

.title-head {
	margin: 0 0 70px 0;
	padding: 0 0 14px;
	height: 114px;
	background:
		url(https://image.thehyundai.com/hdmall/images/co/bg_order_head_bottom.png)
		repeat-x left bottom
}

.title-head:after {
	display: block;
	clear: both;
	content: ""
}

.title-head h2 {
	margin-top: 34px;
	float: left;
	height: 38px;
	font-size: 38px;
	line-height: 38px;
	color: #222
}

.title-head .stepwrap {
	float: right;
	margin-top: 34px
}

.current {
	color: #46685e;
	font-weight: bold;
}

;
.stepwrap .stepwrap .step-box .mark {
	background:
		url(https://image.thehyundai.com/hdmall/images/co/ic_step.png)
		no-repeat;
}

.stepwrap {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.stepwrap .step-box {
	margin-right: 10px;
}

.stepwrap .step-mark {
	margin-right: 10px;
}

.stepwrap .step-box:last-child {
	margin-right: 0;
}

.step-box {
	display: flex;
	align-items: center;
}

.step-box .mark {
	margin-right: 10px;
}

#middle {
	width: 1800px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#sidebar {
	width: 250px;
	height: 70px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#sidebarheader {
	width: 180px;
	height: 70px;
}

#reserveContent {
	width: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top:20px;
}

#sidebarheader h2 {
	margin-left: 7px;
}

#contentBox {
	width: 700px;
	height: 180px;
	display: flex;
	flex-direction: column;
	margin: auto;
	border: 1px solid #008844;
	border-radius: 10px;
}

#consultingName {
	width: 500px;
	height: 40px;
	display: flex;
	align-items: baseline;
	margin-left: 70px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#contsultingContent {
	width: 600px;
	height: 100px;
	display: flex;
	flex-direction: row;
	margin-left: 120px;
	margin-top: 10px;
}

#contentDetail {
	width: 350px;
	height: 100px;
	display: flex;
	flex-direction: column;
}

#contentButton {
	width: 150px;
	height: 65px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

#startButton {
	width: 100px;
	height: 65px;
	display: flex;
	background-color: darkgreen;
	color: white;
	justify-content: center;
	border-radius: 10px;
	border: 0px;
	margin-bottom: 3px;
}

#cancelButton {
	width: 100px;
	height: 65px;
	display: flex;
	background-color: #c6ffc6;
	color: #000000;
	justify-content: center;
	border-radius: 10px;
	border: 0px;
	margin-top: 3px;
}
	
#sidebar a {
	color: #000;
	text-decoration: none;
	font-weight: 600;
}