<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.theBeauty.cart.dao.CartDAO">

	<resultMap type="CartListVO" id="CartListVOMap">
		<association property="cartVO" javaType="CartVO">
			<result column="product_seq" property="productSeq" />
			<result column="user_seq" property="userSeq" />
			<result column="product_count" property="productCount" />
		</association>

		<association property="productVO" javaType="ProductVO">
			<result column="product_seq" property="productSeq" />
			<result column="product_name" property="productName" />
			<result column="product_price" property="productPrice" />
			<result column="product_imgurl" property="productImgurl" />
		</association>
	</resultMap>

	<!-- 장바구니에 상품 추가 -->
	<insert id="addToCart" parameterType="CartVO">
		{call tb_cart_insert(
		#{userSeq, mode=IN, jdbcType=NUMERIC},
		#{productSeq, mode=IN, jdbcType=NUMERIC},
		#{productCount, mode=IN, jdbcType=NUMERIC}
	</insert>

	<!-- 장바구니 목록 가져오기 -->
	<select id="getCartList" resultMap="CartListVOMap">
		SELECT c.user_seq, c.product_count, p.product_seq, p.product_name,
		p.product_price, p.product_imgurl
		FROM tb_cart c
		JOIN tb_product p ON c.product_seq = p.product_seq
		WHERE c.user_seq = #{userSeq}
	</select>

</mapper>  