/* 이미지 슬라이드 css */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
	;

#mainImg {
	display: flex;
	height: 700px;
	align-items: center;
	justify-content: center;
}

.title {
	padding: 35px 0;
}

.title img {
	max-width: 50%;
	margin: auto;
}

.wrapper {
	max-width: 1200px;
	position: relative;
}

.wrapper i {
	top: 50%;
	height: 46px;
	width: 46px;
	cursor: pointer;
	position: absolute;
	font-size: 1.2rem;
	text-align: center;
	line-height: 46px;
	background: #fff;
	border-radius: 50%;
	transform: translateY(100%);
}

.wrapper i:first-child {
	left: -23px;
	display: none;
}

.wrapper i:last-child {
	right: -23px;
}

.fa-solid.fa-angle-left, .fa-solid.fa-angle-right {
	z-index: 1; 
}

.wrapper .carousel {
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}

.carousel .dragging {
	cursor: grab;
	scroll-behavior: auto;
}

.carousel .dragging img {
	poionter-events: none;
}

.carousel img {
	height: 560px;
	object-fit: cover;
	margin-left: 14px;
	width: calc(100%/ 3);
	transition: transform 0.3s ease;
}

.carousel img:hover {
	transform: scale(1.02);
}

@media screen and (max-width: 900px) {
	.carousel img {
		width: calc(100%/ 2);
	}
}

@media screen and (max-width: 550px) {
	.carousel img {
		width: 100%;
	}
}