/* 상위 헤더 css */
#totalContainer {
	width: 1690px;
	height: 100%;
}

#header {
	position: relative;
	display: flex;
	height: 150px;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding-left: 100px;
}

/* #header {
	position: relative;
	display: flex;
	height: 150px;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	margin-left: 100px;
}
 */
 
.category {
	position: relative;
	display: flex;
	width: 1300px;
	height: 70px;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-start;
	padding-left: 100px;
	height: 70px;
}
 
/* .category {
	position: relative;
	display: flex;
	width: 1300px;
	height: 70px;
	align-items: center;
	flex-wrap: nowrap;
	margin-left: 100px;
	height: 70px;
}
 */
#mainLogo {
	width: 300px;
	height: 75px;
	align-items: center;
	justify-content: center;
}

#mainLogo img {
	width: 270px;
	height: 75px;
	margin: 10px;
}

#searchBox {
	width: 790px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.search-input {
	width: 600px;
	padding-top: 4px;
	height: 40px;
	font-size: 15px;
	color: #333;
	border: 0;
	border-bottom: 2px solid #36433b;
	align-items: center;
}

#searchClick {
	background: none;
	border: none;
	padding: 0;
	width: 30px;
	height: 30px;
}

#searchClick img {
	width: 30px;
	height: 30px;
}

#userInterface {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bigButton {
	display: flex;
	width: 150px;
	height: 75px;
	align-items: center;
	justify-content: center;
	color: #000;
	text-decoration: none;
}

.smallButton {
	display: flex;
	width: 80px;
	height: 75px;
	align-items: center;
	justify-content: center;
	color: #000;
	text-decoration: none;
}

/* 카테고리 css  */
.dropdown {
	display: flex;
	width: 80px;
	height: 70px;
	align-items: center;
	gap: 10px;
	/* Adjust this as needed for space between the image and the menu items */
}

.dropdown a img {
	margin-right: 15px;
	/* Adjust this value to add space between the image and the menu */
}

.category .nav-links {
	display: inline-flex;
}

.nav-links li {
	list-style-type: none;
}

.nav-links li a { 
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
}

.nav-links li a img {
	width: 23px;
	height: auto;
}

.additional-menu {
	width: 440px;
	flex-shrink: 0;
}

.additional-menu a {
	margin-left: 10px; 
	padding: 0 20px; 
	color: #000;
	text-decoration: none;
}

.mega-box {
	width: 850px;
	height: 200px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	z-index: 2;
	transition: all 0.3s ease;
	transition-delay: 0.5s;
}

.dropdown:hover .mega-box {
	visibility: visible;
	opacity: 1;
}

.mega-box .content {
	background: #fff;
	padding: 15px 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .mega-links li {
	margin: 5px 0; 
	padding: 0 20px;
	list-style-type: none;
}

.row .mega-links li a {
	padding: 0 20px;
	color: #000;
	font-size: 12px; 
	display: block;
}

/* 이미지 슬라이드 css */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
	;

#mainImg {
	display: flex;
	height: 700px;
	align-items: center;
	justify-content: center;
}

.title {
	padding: 35px 0;
}

.title img {
	max-width: 50%;
	margin: auto;
}

.wrapper {
	max-width: 1200px;
	position: relative;
}

.wrapper i {
	top: 50%;
	height: 46px;
	width: 46px;
	cursor: pointer;
	position: absolute;
	font-size: 1.2rem;
	text-align: center;
	line-height: 46px;
	background: #fff;
	border-radius: 50%;
	transform: translateY(100%);
}

.wrapper i:first-child {
	left: -23px;
	display: none;
}

.wrapper i:last-child {
	right: -23px;
}

.fa-solid.fa-angle-left, .fa-solid.fa-angle-right {
	z-index: 1; 
}

.wrapper .carousel {
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}

.carousel .dragging {
	cursor: grab;
	scroll-behavior: auto;
}

.carousel .dragging img {
	poionter-events: none;
}

.carousel img {
	height: 560px;
	object-fit: cover;
	margin-left: 14px;
	width: calc(100%/ 3);
	transition: transform 0.3s ease;
}

.carousel img:hover {
	transform: scale(1.02);
}

@media screen and (max-width: 900px) {
	.carousel img {
		width: calc(100%/ 2);
	}
}

@media screen and (max-width: 550px) {
	.carousel img {
		width: 100%;
	}
}