/* 주원 css */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	padding: 0 35px;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.title{
	padding: 35px 0;
}

.title img{
	max-width: 50%;
	margin: auto;
}

.wrapper {
	max-width: 1200px;
	position: relative;
}

.wrapper i {
	top: 50%;
	height: 46px;
	width: 46px;
	cursor: pointer;
	position: absolute;
	font-size: 1.2rem;
	text-align: center;
	line-height: 46px;
	background: #fff;
	border-radius: 50%;
	transform: translateY(100%);
}

.wrapper i:first-child {
	left: -23px;
	display: none;
}

.wrapper i:last-child {
	right: -23px;
}

.wrapper .carousel {
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	scroll-behavior: smooth;
}

.carousel .dragging{
	cursor: grab;
	scroll-behavior: auto;
}

.carousel .dragging img{
	poionter-events: none;
}

.carousel img {
	height: 560px;
	object-fit: cover;
	margin-left: 14px;
	width: calc(100%/ 3);
	transition: transform 0.3s ease;
}

/* .carousel img:first-child {
	margin-left: 0px;
} */

.carousel img:hover {
  transform: scale(1.02);
}


@media screen and (max-width: 900px) {
	.carousel img {
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 550px) {
	.carousel img {
		width: 100%;
	}

  /* 지호 css */
#outter {
	display: flex;
	justify-content: space-between;
}

#container {
	display: flex;
	flex-direction: column;
}

#mainlogo img {
	width: 300px;
	height: 90px;
	float: left;
	margin: 10px;
}

#mainsearch {
	display: flex;
	justify-content: center;
	align-items: center;
}

#searchItem {
	background: none;
	border: none;
	padding: 0;
}

#searchItem img {
	width: 30px;
	height: 30px;
}

#keyword {
	width: 500px;
	height: 50px;
}

.top-con-search-input {
	width: 400px;
	padding-top: 4px;
	height: 40px;
	font-size: 15px;
	color: #333;
	border: 0;
	border-bottom: 2px solid #36433b;
	align-items: center;
}

#userInterface {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	gap: 10px;
}
/* 
	혜원이거
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background: white;
    position: fixed; 
    width : 100%;
    z-index: 999;
    width: 100%;
    height: 65px;
    line-height: 65px;
}

nav .wrapper {
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links{
    display: inline-flex;
    
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #000; /* 변경된 부분 */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-links li:hover .mega-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    
}

.mega-box{
    position: absolute;
    top: 85px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    
}

.mega-box .content{
    background: #fff; 
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .row header{
    color: #000; 
    font-size: 15px;   /* 화장품 */
    font-weight: 500;
}

.content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.6))
    
}


.row .mega-links li{
    /* padding: 5px 20px;   *//* 브랜드 리스트의 위아래 간격 10px, 좌우 간격 20px */
    margin: 5px 0;  /* 위아래 간격 10px */
    padding: 0 20px;  /* 좌우 간격 20px */
    
}

.row .mega-links li a{
    padding: 0 20px;
    color: #000; 
    font-size: 12px;  /* 브랜드 리스트 */
    display: block;
    
}



.nav-links li a img {
    width: 23px;
    height: auto;
}

.additional-menu {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
}

.additional-menu li {
    margin: 0 10px; /* SKINCARE, FOUNDATION, LIP, EYE 사이의 간격 조정 */
}



.mega-box .content {
    display: flex;
    justify-content: flex-start; 
    gap: 30px; /* row 사이의 간격 설정 */
}
